@font-face { font-family: Futura; src: url('ressources/FUTURA/FuturaStd-Book.otf'); }
@font-face { font-family: Futura; font-weight: bold; src: url('ressources/FUTURA/FuturaStd-Bold.otf'); }
@font-face { font-family: Futura; font-style: italic; src: url('ressources/FUTURA/FuturaStd-BookOblique.otf'); }
body{width:100%;height:100%;font-family:Futura,Helvetica;overflow:hidden;}
.button{border:1px solid #252424;border-top:1px solid #828282;border-bottom:1px solid #020202;border-radius:5px;
background:-moz-linear-gradient(top, #535353 ,#343434);background:-webkit-linear-gradient(top, #535353 ,#343434);background:-o-linear-gradient(top, #535353 ,#343434);background:-ms-linear-gradient(top, #535353 ,#343434);background:linear-gradient(top, #535353 ,#343434);
-moz-box-shadow: 0px -1px 1px 0px #000;-webkit-box-shadow: 0px -1px 1px 0px #000;-o-box-shadow: 0px -1px 1px 0px #000;-ms-box-shadow: 0px -1px 1px 0px #000;box-shadow: 0px -1px 1px 0px #000;}
.button:hover{border:1px solid #ababab;
background:-moz-linear-gradient(top, #7e7e7e ,#585858);background:-webkit-linear-gradient(top, #7e7e7e ,#585858);background:-o-linear-gradient(top, #7e7e7e ,#585858);background:-ms-linear-gradient(top, #7e7e7e ,#585858);background:linear-gradient(top, #7e7e7e ,#585858);}
.button:active{border:2px solid #323232;border-top:2px solid #535353;border-bottom:2px solid #2f2f2f;background:#202020;}

/* Header */
header{width:100%;height:50px;color:#fff;position:relative;border-bottom:2px solid #555; z-index:2;
-moz-box-shadow: 0px 2px 7px 0px #333;-webkit-box-shadow: 0px 2px 7px 0px #333;-o-box-shadow: 0px 2px 7px 0px #333;box-shadow: 0px 2px 7px 0px #333;
background:-moz-linear-gradient(top, #2b2929 ,#000);background:-webkit-linear-gradient(top, #2b2929 ,#000);background:-o-linear-gradient(top, #2b2929 ,#000);background:linear-gradient(top, #2b2929 ,#000);}
header a{color:#fff;}
#logo{position:absolute;top:10px;left:30px;background:url('../images/logo.png') no-repeat;padding:8px 30px;font-weight:bold;}
h1{text-align:center;font-style:italic;color:#cecdcd;font-size:0.8em;display:inline;margin-left:30px;}
#compte {position:absolute;top:10px;right:30px;}
#compte #identifiant{padding:6px 20px 9px 20px;float:left;margin:0 10px;font-size:0.8em;}
#compte a#name{display:block; box-shadow:1px 1px 1px #000; border:1px solid #555757;float:right; padding:5px; margin:0 15px; float:right;}
#compte a#close{display:block;float:right;}
#compte a#close img{background:none;border:none;height:18px;padding:5px;}
#compte img{float:left; height:26px; background:#343232; border:1px solid #555757; box-shadow:1px 1px 1px #000;}
#compte a#name:hover, #compte a#close:hover{background-color:#343232;}
#connexion{position:absolute;top:12px;right:30px;padding:8px;font-weight:bold;width:128px;height:26px;background:url(../images/connexion.png) no-repeat center top transparent;}

/* Search Bar */
#board nav{background:url('../images/search_bg.png') repeat;border-bottom:1px solid #555;
-moz-box-shadow: 0px 3px 7px 0px #5b5a5a;-webkit-box-shadow: 0px 3px 7px 0px #5b5a5a;-o-box-shadow: 0px 3px 7px 0px #5b5a5a;-ms-box-shadow: 0px 3px 7px 0px #5b5a5a;box-shadow: 0px 3px 7px 0px #5b5a5a;}
#board nav form{position:relative;width:385px;margin:auto;padding-right:40px;}
#board nav form #rechercher{position:absolute;top:13px;right:-100px;width:128px;height:26px;color:#fff;font-family:Futura,Helvetica;cursor:pointer;}
#board nav form #tweeter{position:absolute;top:48px;right:-100px;width:128px;height:26px;color:#fff;font-family:Futura,Helvetica;cursor:pointer;}	
#board nav form textarea{border:2px solid #b2afaf;margin:10px 0px;resize:none; box-shadow:0px 1px 3px #666;}

/* Background */
#board .background{background:none;z-index:0;position:absolute;top:128px;left:0px;overflow:hidden;width:70%;}

/* Board */
#board{background:#fff;width:70%;display:absolute;top:0px;left:0px;height:1000px;}
/* Bulle */
.bulle{width:100px;height:100px;background:#79b2c4;border-radius:50%;position:relative;border:7px solid #bcd8e1; box-shadow:1px 1px 5px #666;}
#board #bulle{background:#403c3c;border:7px solid #9f9d9d;top:32%;left:47%; box-shadow:1px 2px 5px #333; z-index:100;}
#board .bulle a{position:absolute;top:40%;width:100%;text-align:center;color:#fff;font-weight:bold; font-size:0.9em;}
.ashtag .bulle{ position:absolute; top:0; left:0; z-index:0; }
.ashtag .details{ opacity: 1; position:absolute; z-index:999; width:125px;height:125px;background:#79b2c4;border-radius:50%;border:7px solid #bcd8e1;top:-10px;left:-10px;
 -moz-transform: scale(0);-webkit-transform: scale(0);-o-transform: scale(0);-ms-transform: scale(0);transform: scale(0);
 -moz-transition-timing-function: ease-out;-webkit-transition-timing-function: ease-out;-o-transition-timing-function: ease-out;-ms-transition-timing-function: ease-out;transition-timing-function: ease-out;
 -moz-transition-duration: 250ms; -webkit-transition-duration: 250ms; -o-transition-duration: 250ms;-ms-transition-duration: 250ms;transition-duration: 250ms;}
.ashtag .details a{position:absolute;top:40%;width:100%;text-align:center;color:#fff;font-weight:bold;font-size:0.8em;}
.ashtag .details a:hover{text-decoration:underline;}
.ashtag .details .visit{top:25%;}
.ashtag .details .ajout{top:60%;}
.ashtag:hover .details{
 -moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(1);-ms-transform: scale(1);transform: scale(1);
 -moz-transition-timing-function: ease-out;-webkit-transition-timing-function: ease-out;-o-transition-timing-function: ease-out;-ms-transition-timing-function: ease-out;transition-timing-function: ease-out;
 -moz-transition-duration: 250ms;-webkit-transition-duration: 250ms;-o-transition-duration: 250ms;-ms-transition-duration: 250ms;transition-duration: 250ms; box-shadow:1px 2px 5px #333;
 }
 
/* Aside */
aside{background:#777;width:30%;position:absolute;bottom:0px;right:0px;z-index:1;}
aside #move{height:100%;width:3px;position:absolute;top:0px;left:0px;background:#292727;}
aside #move a{background:url('../images/fleche_right.png') no-repeat;width:21px;height:30px;display:block;position:relative;left:-18px;top:50%;border-top-left-radius:15px;border-bottom-left-radius:15px;}
aside ul.twitter{overflow:scroll;overflow-x:hidden;height:900px;background:#ecf4fa;color:#403c3c;font-size:0.9em;}
aside ul.twitter a:first-child{font-weight:bold;display:block;color:#403c3c;}
aside ul.twitter a:first-child:hover{color:#141313;}
aside ul.twitter p{padding-left:10px;}
aside ul.twitter p a{font-weight:none;}
aside ul.twitter li{min-height:50px;}
aside ul.twitter img{float:left;margin:5px 5px 0 10px;}
aside nav {box-shadow:1px 1px 1px #333;background:#262525;}
aside nav ul{padding:10px 0 0 18px;}
aside ul li a{color:#79b2c4;}
aside ul li a:hover{color:#25687d;}
aside ul li{background:#ecf4fa;line-height:150%;padding:5px 0;font-family:Futura,Helvetica;}
aside ul li:nth-child(2n) {background:#dee4e9;}
aside ul li.title{width:28%;text-align:center;background:#373535;display:inline-block;margin:0 5px;border-top:1px solid #555;border-left:1px solid #555;}
aside ul li.title:hover{background:#5e6162;}
aside ul li.title a{font-family:Futura,Helvetica;color:#fff;font-weight:bold;font-size:0.8em;}	
aside ul li.active{background:#ecf4fa;}
aside ul li.active a{color:#403c3c;}
aside ul li.active:hover{background:#ecf4fa;border}

/* Pages */
#content{text-align:center;position:absolute;top:51px;width:50%;height:100%;background:#ebebeb;z-index:1;margin-left:25%;overflow-x:hidden;border-left:1px solid #555;border-right:1px solid #555;}
#content h2{margin:30px;font-weight:bold;font-size:1.2em;color:#79a6b1;}
#content article{text-align:justify;margin:20px 15px;color:#403c3c;}
#content article h3{font-size:1.1em;margin-bottom:15px;}
#content article h3 span{display:inline-block;border:1px solid #4c96b6;width:17px;height:21px;border-radius:50%;color:#fff;padding-left:7px;padding-top:3px;
background:-moz-linear-gradient(top, #7ebdd1 ,#2381a3);background:-webkit-linear-gradient(top, #7ebdd1 ,#2381a3);background:-o-linear-gradient(top, #7ebdd1 ,#2381a3);background:linear-gradient(top, #7ebdd1 ,#2381a3);}

/* Start */
#start{width:100%;height:100%;background:#eef5f9;text-align:center;}
#start img{height:90%;}
#start .go_right{width:0px;height:0px;border:18px solid transparent;border-left:36px solid #141313;position:absolute;top:45%;right:10%;
-webkit-animation:bounce 1s linear 2s infinite;-moz-animation:bounce 1s linear 2s infinite;--animation:bounce 1s linear 2s infinite;-ms-animation:bounce 1s linear 2s infinite;animation:bounce 1s linear 2s infinite;
}
@-moz-keyframes bounce{
from{right:120px;}
10%{right:127px;}
20%{right:132px;}
30%{right:136px;}
40%{right:140px;}
50%{right:143px;}
60%{right:140px;}
70%{right:136px;}
80%{right:132px;}
90%{right:127px;}
to{right:120px;}
}
@-webkit-keyframes bounce{
from{right:120px;}
10%{right:127px;}
20%{right:132px;}
30%{right:136px;}
40%{right:139px;}
50%{right:143px;}
60%{right:139px;}
70%{right:136px;}
80%{right:132px;}
90%{right:127px;}
to{right:120px;}
}
@-ms-keyframes bounce{
from{right:120px;}
10%{right:127px;}
20%{right:132px;}
30%{right:136px;}
40%{right:139px;}
50%{right:143px;}
60%{right:139px;}
70%{right:136px;}
80%{right:132px;}
90%{right:127px;}
to{right:120px;}
}
@keyframes bounce{
from{right:120px;}
10%{right:127px;}
20%{right:132px;}
30%{right:136px;}
40%{right:139px;}
50%{right:143px;}
60%{right:139px;}
70%{right:136px;}
80%{right:132px;}
90%{right:127px;}
to{right:120px;}
}
#start .go_right:hover{border-left:36px solid #aaa;}

/* Footer */
footer{width:100%;border-top:1px solid #c8c0c0;position:absolute;bottom:0px;padding:5px;text-align:center;z-index:7;
background:-moz-linear-gradient(top, #2b2929 ,#262828);background:-webkit-linear-gradient(top, #2b2929 ,#262828);background:-o-linear-gradient(top, #2b2929 ,#262828);background:linear-gradient(top, #2b2929 ,#262828);}
footer a{color:#fff;font-size:0.8em;margin-left:3%; padding:2px;}
footer a:first-child:hover{color:#c8c0c0;}